<div class="container container-fluid">
    <div class="row g-4" *ngIf="!products.length">
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3" *ngFor="let skeleton of skeletons">
            <div class="card product-card">
                <div class="card-img skeleton"></div>
                <div class="card-body">
                    <h5 class="card-title skeleton skeleton-text"></h5>
                    <p class="skeleton skeleton-text"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-4" *ngIf="products.length">
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3" *ngFor="let product of products">
            <div class="card product-card">
                <img class="card-img" [src]="product.images[0].src" [alt]="product.images[0].alt" />
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="text-secondary">{{ product.price | number : "1.0-0" }} EUR</p>
                </div>
            </div>
        </div>
    </div>
</div>
