<header class="container d-flex flex-wrap align-items-center justify-content-center py-3 py-4 mb-4 border-bottom">
    <a routerLink="/home" class="d-flex align-items-center mb-4 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="img-fluid logo" src="assets/images/logo.png" alt="Logo" />
    </a>
    <ul class="nav">
        <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/products" routerLinkActive="active" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
            <a routerLink="/faqs" routerLinkActive="active" class="nav-link">FAQs</a>
        </li>
        <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
        </li>
    </ul>
</header>
